/* reset.css */
/* 统一 box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Microsoft YaHei, Arial, Helvetica, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  background-color: #ededee;
}

/* 图片默认自适应 */
img {
  max-width: 100%;
  display: block;
}

/* 去除列表默认样式 */
ul, ol {
  list-style: none;
}

/* 去除 a 标签下划线 */
a {
  text-decoration: none;
  color: inherit;
}
